@import "../../../styles/colors";

.tabs_content {
  display: flex;
  font-family: Georgia;
  color: $grey-1;
  text-align: left;
  justify-content: space-around;
  padding-bottom: 20px;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    padding: 0 16px;
    &--img {
      text-align: center;
    }

    &--card {
      max-width: 250px;
      border-radius: 5px;
      width: 100%;
      background-color: $orange-1;
      max-height: 30px;
      border: none;
    }

    @media screen and (max-width: 600px) {
      justify-content: center;
      align-items: center;
    }
  }

  &__title {
    max-width: 380px;
    font-size: 35px;

    @media screen and (max-width: 414px) {
      font-size: 25px;
    }
  }

  &__subtitle {
    font-size: 15px;
    max-width: 320px;
  }

  &__info {
    max-width: 400px;
    color: $grey-5;
    font-family: Arial;
    font-style: italic;
    font-size: 12px;
  }

  &__card {
    text-align: center;
    display: flex;
    font-family: "Times New Roman";
    font-size: 20px;
    &--icon {
      width: 20px;
      height: 20px;
      margin-right: 3px;
      margin-left: 5px;
    }

    p {
      margin: 0;
      height: 20px;
    }
  }

  &__img {
    @media screen and(max-width: 769px) {
      max-width: 480px;
    }

    @media screen and (max-width: 600px) {
      max-width: 320px;
    }
  }
}
