.tabs_content {
  display: flex;
  font-family: Georgia;
  color: #545454;
  text-align: left;
  justify-content: space-around;
  padding-bottom: 20px;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;

    &--img {
      text-align: center;
    }

    @media screen and(max-width: 769px) {
      padding-right: 10px;
    }

    @media screen and (max-width: 600px) {
      justify-content: center;
      align-items: center;
    }
  }

  &__title {
    max-width: 380px;
    font-size: 35px;
  }

  &__subtitle {
    font-size: 15px;
    max-width: 320px;
  }

  &__info {
    max-width: 400px;
    color: #b2b2b2;
    font-family: Arial;
    font-style: italic;
    font-size: 12px;
  }

  &__card {
    max-width: 280px;
    height: 30px;
    text-align: center;
    display: flex;
    background-color: #f1cdb3;
    border-radius: 5px;
    border: none;
    font-family: "Times New Roman";
    font-size: 20px;
    &--icon {
      width: 20px;
      height: 20px;
      margin-right: 3px;
    }
  }

  &__img {
    @media screen and(max-width: 769px) {
      max-width: 480px;
    }

    @media screen and (max-width: 600px) {
      max-width: 400px;
    }
  }
}
