@import "../../../styles/configs.scss";

.header {
  display: flex;
  justify-content: space-around;

  &__nav-wrapper {
    display: flex;
    align-items: center;

    .navbar {
      @media screen and (max-width: $breakpoint-up-sm) {
        display: none;
      }
    }

    .hamburger-btn {
      display: none;

      @media screen and (max-width: $breakpoint-up-sm) {
        display: block;
      }
    }
  }
}
