.test {
  padding-left: 16px;

  form {
    display: flex;
  }

  .button {
    background-color: red;
    border: rebeccapurple;
    width: 80px;
    text-align: center;
  }

  input {
    padding: 0 10px;
  }

  input::placeholder {
    color: green;
    font-style: italic;
  }
}
