@import "../_colors";

.info__container{
    min-height: 1330px;
    background-color: $black;
    
   
    

   
   
   
   

    
}


.info{
    max-width: 1920px;
    width: 100%;
    &__column--first{
        display: flex;
        flex-direction: column;
        
        
    }

    &__column--second{
        display: flex;
        flex-direction: column;
    }
    h2{
        color:$white-2;
    }

    p{
        color: $gray-4;
        max-width: 400px;
        width: 100%;
        min-height: 135px;
    }

    &__column-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;

    }
}


