@import "../_mixins";
@import "../_fonts";
@import "../_colors";

.footer {
  &__container {
    background-color: $spain-bg;
    height: 268px;
  }

  &__title {
    @include flex-col;

    h2 {
      margin-top: 120px;
      color: $white;
      font-family: "JosefinB";
      font-size: 24px;
      line-height: 26px;
      text-transform: uppercase;
      letter-spacing: 3.36px;
    }

    p {
      margin-top: 15px;
      color: $white;
      font-family: "Josefin";
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 1.6px;
    }
  }

  &__icons {
    @include center;
    margin-top: 30px;

    i {
      margin-right: 15px;
      color: $white;
    }
    :last-child {
      margin-right: 0;
    }

    i:hover {
      cursor: pointer;
      color: $nav_col;
    }
  }
}
