@import '../../../styles/configs';
@import '../../../styles/colors';
@import '../../../styles/mixins';

.choose-section {
  min-height: 740px;
  background-color: $white-3;
  padding: 0 20px;
  position: relative;
  padding-top: 160px;
  text-align: left;

  @media screen and (max-width: $breakpoint-up-md) {
    min-height: 1100px;
    padding-top: 60px;
  }

  @media screen and (max-width: $breakpoint-up-sm) {
    min-height: 1145px;
  }

  @media screen and (max-width: $breakpoint-up-xs) {
    min-height: 1450px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 615px;
    width: 100%;
    text-align: left;

    h2 {
      margin-bottom: 64px;
    }

    @media screen and (max-width: $breakpoint-up-md) {
      width: 100%;
      max-width: 720px;
    }
  }

  &__subtitle {
    color: $black-2;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 78px;
    margin-bottom: 5px;
  }

  &__info {
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: $gray-1;
  }

  &__info-wrapper {
    font-size: 0.8rem;
    margin-top: 24px;
    display: flex;

    p {
      margin: 0;
    }

    a {
      margin-left: 5px;
      color: var(--blue);
      cursor: pointer;
    }
  }
}
