// @import "../../../styles/colors.scss";
// @import "../../../styles/mixins.scss";

.todo-list {
  &__input-block {
    display: flex;
    align-items: center;

    input {
      height: 48px;
      padding: 0 16px;
      border-radius: 4px;
      border: 1px solid grey;
    }

    button {
      background-color: yellow;
      height: 48px;
      border-radius: 4px;
      padding: 0 16px;
      font-weight: 700;
      margin-left: 24px;
    }
  }

  &__lists {
    display: flex;
  }

  &__wrapper {
    width: 100%;
    max-width: 50%;

    &--left-padding {
      padding-left: 24px;
    }

    &--right-padding {
      padding-right: 24px;
    }
  }

  &__header {
    margin: 24px 0;
    font-weight: 500;
    color: red;
    font-size: 1.25rem;
  }

  &__todo {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }

  &__todo-info {
    width: 100%;
    max-width: calc(100% - 54px);
    height: 48px;
    border-radius: 4px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    padding: 0 16px;
  }

  &__todo-info-text {
    max-width: 100%;
    // @include text-ellipsis;
  }

  &__todo-info-checkbox {
    margin-left: auto;
    padding: 0 0 0 4px;
  }

  &__empty-block {
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__todo-btn {
    height: 48px;
    width: 48px;
    border-radius: 4px;

    flex-shrink: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;

    &--remove {
      background-color: rgb(214, 74, 74);
    }

    &--edit {
      background-color: rgb(63, 63, 196);
    }
  }
}
