@import "../../styles/colors";

.navbar {
  display: flex;
  justify-content: flex-end;

  &__item {
    margin-top: 40px;
    max-width: 111px;
    height: 13px;
    color: $grey-3;
    font-family: "Arial MT";
    font-size: 15px;
    font-weight: 400;
    line-height: 13px;
    text-decoration: none;
    margin-right: 38px;

    &:hover {
      color: $orange-1;
    }
  }
}
