.slider_section {
  background-color: #f6f6f6;
  padding: 30px 0;

  &__btn {
    width: 170px;
    height: 30px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: #f1cdb3;
    cursor: pointer;
    font-family: Georgia;

    &:hover {
      background-color: #f1cdc1;
    }
  }

  h2 {
    @media screen and (max-width: 414px) {
      font-size: 25px;
    }
  }
}
