@import '../../../styles/colors';
@import '../../../styles/configs';
@import '../../../styles/mixins';

.tabs_content {
  margin-top: 50px;
  position: absolute;
  max-width: 500px;
  top: 0;
  right: 15%;
  @include center;
  padding-top: 160px;

  @media screen and (max-width: 1366px) {
    right: 10%;
  }

  @media screen and (max-width: $breakpoint-up-md) {
    bottom: 50px;
    top: auto;
    left: 200px;
  }

  @media screen and (max-width: $breakpoint-up-sm) {
    width: 180px;
  }

  @media screen and (max-width: $breakpoint-up-xs) {
    flex-direction: column;
    left: 100px;
  }

  &__wrapper {
    background-color: $white-4;
    height: 520px;
    width: 300px;
    padding: 20px 10px 20px 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  }

  &__title {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 300;
  }

  &__info {
    font-size: 1rem;
    line-height: 1.5rem;
    color: $black-2;
    margin-bottom: 12px;
  }

  &__subtitle {
    font-size: 0.6rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $black-2;
    padding: 9px 18px;
    border: 1px solid rgba(38, 39, 45, 0.2);
    display: inline-block;
    margin-bottom: 40px;
    border-radius: 30px;
  }

  &__wrapper-gr {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    width: 300px;
    height: 480px;
    padding: 20px 10px 20px 10px;
  }

  .wrapper_blue {
    background-color: rgba(114, 217, 224, 0.979);
    color: var(--white);
    border: none;
    transition: 0.7s all ease;

    :nth-child(2) {
      background-color: var(--blue);
      color: $white-1;
      transition: 0.7s all ease;
    }
  }

  .wrapper_def {
    transition: 0.7s all ease;

    background-color: $white-5;
  }

  button {
    margin-top: 40px;
  }
}
