@import '../../../styles/mixins';

.subscribe-section {
  padding: 120px 20px;
  height: 100%;
  padding-top: 100px;
  display: grid;
  grid-column: 1;
  min-height: 350px;
  @include mar-bot;
  text-align: center;

  * {
    justify-self: center;
  }

  input {
    margin-bottom: 0;
  }
}
