@import "../../../../styles/colors";

.hamburger-btn {
  position: relative;
  width: 24px;
  height: 60px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  display: block;
  padding: 0;

  p {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: $orange-1;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.2 all ease;

    &:nth-of-type(1) {
      top: 0;
      left: 0;
    }

    &:nth-of-type(2) {
      top: 10px;
      right: 0;
    }

    &:nth-of-type(3) {
      top: 20px;
      left: 0;
    }
  }

  // Modified

  &--open {
    p {
      background-color: $orange-1;

      &:nth-of-type(1) {
        top: 10px;
        transform: rotate(135deg);
      }

      &:nth-of-type(2) {
        opacity: 0;
        right: 26px;
      }

      &:nth-of-type(3) {
        top: 10px;
        transform: rotate(-135deg);
      }
    }
  }

  &--mirror {
    p {
      &:nth-of-type(1) {
        top: 0;
        left: initial;
        right: 0;
      }

      &:nth-of-type(2) {
        top: 10px;
        right: initial;
        left: 0;
      }

      &:nth-of-type(3) {
        top: 20px;
        left: initial;
        right: 0;
      }
    }
  }

  &--mirror-open {
    p {
      background-color: $orange-1;

      &:nth-of-type(1) {
        top: 10px;
        transform: rotate(-135deg);
      }

      &:nth-of-type(2) {
        opacity: 0;
        right: 0;
        left: 26px;
      }

      &:nth-of-type(3) {
        top: 10px;
        transform: rotate(135deg);
      }
    }
  }
}
