@import "../../../styles/colors.scss";
@import "../../../styles/configs.scss";
@import "../../../styles/mixins";

.get-section {
  @include flex-col;
  min-height: 550px;
  background-color: $white-3;

  &__wrapper-img {
    img {
      border-radius: 30px;
      width: 210px;
      height: 60px;
      cursor: pointer;
    }
  }
}
