@mixin text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin center {
  justify-content: center;
  align-items: center;
  display: flex;
}

@mixin flex-col {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

@mixin mar-bot {
  * {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
