.slidercard {
  background-color: #fafafa;
  width: 270px;
  border-radius: 10px;
  border: #707070;

  @media screen and(max-width:1000px) {
    width: 90%;
  }

  @media screen and(max-width:710px) {
    width: 100%;
  }

  button {
    width: 170px;
    height: 30px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: #f1cdb3;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
      background-color: #f1cdc1;
    }
  }

  img {
    @media screen and(max-width:1000px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
