@import "../../styles/colors";

.slidercard {
  background-color: $white-4;
  width: 270px;
  border-radius: 10px;
  border: $grey-4;

  @media screen and(max-width:1000px) {
    width: 90%;
  }

  @media screen and(max-width:710px) {
    width: 100%;
  }

  button {
    width: 170px;
    height: 30px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: $orange-1;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: Georgia;

    &:hover {
      background-color: $orange-2;
    }
  }

  img {
    @media screen and(max-width:1000px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
