$white-1: #fff;
$whire-2: #f1f1f1;
$white-3: #f6f6f6;
$white-4: #fafafa;
$orange-1: #f1cdb3;
$orange-2: #f1cdc1;
$grey-1: #545454;
$grey-2: #4c4c4c;
$grey-3: #cdcdcd;
$grey-4: #707070;
$grey-5: #b2b2b2;
