@import "../../../styles/configs.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/mixins";

.hack-section {
  min-height: 900px;
  // width: 100%;
  position: relative;
  z-index: -1;
  background-color: $white-4;

  padding: 0 10px;
  padding-bottom: 120px;

  @media screen and (max-width: 575px) {
    min-height: 300px;
  }

  &__wrapper {
    @include flex-col;
    max-width: 500px;
    width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: 100px;
  }

  &__title {
    color: $black-2;
  }

  .hack-section__phone-wrapper {
    position: absolute;

    right: 50%;
    bottom: 100px;

    @media screen and (max-width: 575px) {
      display: none;
    }
  }

  &__btn-wrapper {
    display: flex;

    :first-child {
      margin-right: 40px;
      @media screen and (max-width: 414px) {
        width: 155px;
      }
    }
  }
}
