@import '../../../styles/configs';
@import '../../../styles/colors';
@import '../../../styles/mixins';

.hack-section {
  min-height: 900px;
  position: relative;
  background-color: $white-4;
  padding: 0 10px;
  padding-bottom: 120px;
  z-index: 1;

  @media screen and (max-width: $breakpoint-up-sm) {
    padding-bottom: 60px;
  }

  @media screen and (max-width: $breakpoint-up-xs) {
    min-height: 300px;
  }

  &__wrapper {
    @include flex-col;
    max-width: 500px;
    width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: 100px;
    align-items: flex-start;
    @include mar-bot;

    @media screen and (max-width: $breakpoint-up-md) {
      text-align: center;
      align-items: center;
    }

    :nth-child(2) {
      margin-bottom: 0;
    }
  }

  &__title {
    color: $black-2;
    margin-bottom: 30px;
  }

  .hack-section__phone-wrapper {
    position: absolute;
    z-index: -1;
    right: 50%;
    bottom: 100px;

    img {
      max-width: none;
    }

    @media screen and (max-width: $breakpoint-up-xs) {
      display: none;
    }
  }

  &__btn-wrapper {
    display: flex;

    :first-child {
      margin-right: 40px;
      @media screen and (max-width: $breakpoint-down-xs) {
        width: 155px;
      }
    }
  }
}
