@import "../../../../styles/mixins";

.slider-card {
  @include flex-col;
  padding: 100px 0 0 10px;
  background-color: var(--black);
  border-radius: 30px;
  max-width: 260px;
  width: 100%;

  @media screen and (max-width: 1024px) {
    max-width: 425px;
    width: 100%;
  }

  @media screen and (max-width: 860px) {
    max-width: 350px;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    max-width: 590px;
    width: 100%;
  }

  @media screen and (max-width: 575px) {
    max-width: 412px;
    width: 100%;
  }

  @media screen and (max-width: 415px) {
    max-width: 290px;
    width: 100%;
  }

  @media screen and (max-width: 376px) {
    max-width: 250px;
    width: 100%;
  }

  img {
    border-radius: 100px;
    border: 10px solid white;
  }
}
