@import '../../../../styles/mixins';
@import '../../../../styles/configs';

.slider-card {
  @include flex-col;
  padding: 100px 5px 0 5px;
  // background-color: var(--black);
  background-color: #f5f5f8;
  // box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  width: 100%;
  border-radius: 30px;

  @include mar-bot;
  text-align: center;

  @media screen and (max-width: $breakpoint-up-md) {
    max-width: 425px;
    width: 100%;
  }

  @media screen and (max-width: 860px) {
    max-width: 350px;
    width: 100%;
  }

  @media screen and (max-width: $breakpoint-up-sm) {
    max-width: 590px;
    width: 100%;
  }

  @media screen and (max-width: $breakpoint-up-xs) {
    max-width: 412px;
    width: 100%;
  }

  @media screen and (max-width: 415px) {
    width: 100%;
    max-width: 500px;
  }

  &__cards-name {
    text-transform: uppercase;
  }

  img {
    border-radius: 100px;
    border: 10px solid white;
  }
}
