@font-face {
  font-family: "Josefin";
  src: url("../assets/fonts/JosefinSans-Regular.woff2") format("woff2"),
    url("../assets/fonts/JosefinSans-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "JosefinB";
  src: url("../assets/fonts/JosefinSans-Bold.woff2") format("woff2"),
    url("../assets/fonts/JosefinSans-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Aleo";
  src: url("../assets/fonts/Aleo-Regular.woff2") format("woff2"),
    url("../assets/fonts/Aleo-Regular.woff") format("woff");
  font-weight: 400;
}
