@import "../../../styles/colors";
@import "../../../styles/configs.scss";
@import "../../../styles/mixins";

.home-section {
  width: 100%;
  height: 1000px;
  background-image: url("../../../assets/images/home_back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: hidden;

  &__btn-wrapper {
    @include center;
    margin-top: 50px;

    position: relative;

    div {
      position: absolute;
      top: 7px;
      margin-right: 120px;
    }
  }
  &__wrapper {
    position: absolute;
    bottom: -310px;
    left: 50%;
    margin-left: -180px;
    z-index: 1;
  }

  &__navbar {
    display: flex;
  }

  &__title {
    max-width: 810px;
    width: 100%;
    color: $black-2;
    margin-top: 0;
    padding-top: 100px;
    @include flex-col;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;

    h1 {
      font-size: 4rem;
      line-height: 4rem;
      margin-bottom: 10px;
      font-weight: 400;
      @media screen and (max-width: 1024px) {
        font-size: 3rem;
      }
    }

    p {
      font-size: 1.25rem;
      max-width: 600px;

      @media screen and (max-width: 1024px) {
        font-size: 1rem;
      }
    }
  }

  @keyframes fadeInUp {
    from {
      transform: translate3d(0, 40px, 0);
    }

    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeInUp {
    from {
      transform: translate3d(0, 40px, 0);
    }

    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  &__title {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
  }

  &__link {
    padding: 14px 48px;
    cursor: pointer;
    border: 1px solid rgba(38, 39, 45, 0.1);
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 0 !important;
  }

  .animatedFadeInUp {
    opacity: 0;
  }

  .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
  }
}
