@import '../../../styles/colors';
@import '../../../styles/configs';

.hamburger-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  display: none;
  padding: 0;
  z-index: 1;
  top: 6px;

  @media screen and (max-width: $breakpoint-up-sm) {
    display: block;
    top: 30px;
    left: 5px;
  }

  @media screen and (max-width: $breakpoint-up-xxs) {
    right: 30px;
  }

  p {
    display: block;
    position: absolute;
    height: 2.5px;
    width: 100%;
    background-color: $black-2;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.4s all ease;

    &:nth-of-type(1) {
      top: 0px;
      left: 0;
    }

    &:nth-of-type(2) {
      top: 5px;
      right: 0;
      @media screen and (max-width: $breakpoint-up-sm) {
        top: 8px;
      }
    }

    &:nth-of-type(3) {
      top: 10px;
      left: 0;

      @media screen and (max-width: $breakpoint-up-sm) {
        top: 16px;
      }
    }
  }

  // Modified

  &--open {
    p {
      background-color: $black-2;

      &:nth-of-type(1) {
        top: 10px;
        transform: rotate(135deg);
      }

      &:nth-of-type(2) {
        opacity: 0;
        right: 26px;
      }

      &:nth-of-type(3) {
        top: 10px;
        transform: rotate(-135deg);
      }
    }
  }

  &--mirror {
    p {
      &:nth-of-type(1) {
        top: 0;
        left: initial;
        right: 0;
      }

      &:nth-of-type(2) {
        top: 10px;
        right: initial;
        left: 0;
      }

      &:nth-of-type(3) {
        top: 20px;
        left: initial;
        right: 0;
      }
    }
  }

  &--mirror-open {
    p {
      background-color: $black-2;

      &:nth-of-type(1) {
        top: 10px;
        transform: rotate(-135deg);
      }

      &:nth-of-type(2) {
        opacity: 0;
        right: 0;
        left: 26px;
      }

      &:nth-of-type(3) {
        top: 10px;
        transform: rotate(135deg);
      }
    }
  }
}
